h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 300%;
    background-color: lightyellow;
    padding: 20px;
}
h2 {
    font-size: 150%;
}
body {
    background-image: url(../images/bananas.png);
    font-family: 'Open Sans Condensed', sans-serif;
}
.header {
    background-image: url(../images/leaves.jpg);
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.container {
    background-image: url(../images/vintage-concrete.png);
    display: flex;
    justify-content: center;
}