h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 300%;
    background-color: lightyellow;
    padding: 20px;
}
h2 {
    font-size: 150%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
body {
    background-image: url(../images/bananas.png);
    font-family: 'Open Sans Condensed', sans-serif;
}
.header {
    background-image: url(../images/leaves.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    margin: 20px 0px 20px 0px;
}
.container {
    background-image: url(../images/vintage-concrete.png);
}

.finish {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

.finishQuiz {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 150%;
    background-color: #367588;
    margin: 0px 50px 0px 0px;
}

.quizAnswer {
    color: black;
}

#answerReveal {
    color: lightseagreen;
    font-weight: bold;
}

#message {
    display: flex;
    justify-content: center;
}

.resetBtn {
    background-color: lightgreen;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 150%; 
    border: 1px solid grey;
    margin: 0px 0px 0px 50px;
}